body{
    background-color:rgb(238, 196, 211);
    }
    
     h1{
    color: rgba(165, 17, 79, 0.836);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: ; 
    text-align: center;
    }
    
    p{
    color: rgb(182, 72, 108);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 25px;
    background: ;
    font-weight: bold;
    text-align: center;
    }
