body{
    background-color:rgb(185, 41, 89))
    }
    
     h1{
    color: rgb(189, 45, 69);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: ; 
    text-align: center;
    }
    
    p{
    color: rgb(145, 91, 109);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: ;
    background: rgb(168, 53, 72);
    }
